<nav class="navbar navbar-expand-lg bg-body-tertiar bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Dating App</a>

     <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="accountService.currentUser$ | async"> <!-- Si tiene algo diferente de null, sabemos que esta loggeado -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
      </li>
    </ul>

    <div class="btn-group" dropdown *ngIf="accountService.currentUser$ | async">
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        Welcome User <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item">Edit profile</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>

    <!-- Pasos
      1. Crear formulario con ngForm (de la FormsModule)
      2. Crear modelo en componente
      3. Agregar nombre a input y Vincularlo bidireccionalmente con ngModel [()]
      4. Evento ngSubmit para enviar el formulario y ejecutar la funcion del componente
      -->

    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">

      <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
        type="password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>

  <p class="text-white">{{accountService.currentUser$}}</p>
</nav>
